:root {
	/* https://coolors.co/5f0f40-9a031e-fb8b24-e36414-0f4c5c */
	--tyrian-purple: #5f0f40ff;
	--ruby-red: #9a031eff;
	--dark-orange: #fb8b24ff;
	--spanish-orange: #e36414ff;
	--midnight-green-eagle-green: #0f4c5cff;
	--grey: #555
}

body {
	background: white;
	font-family: Arial,sans-serif;
	color: var(--grey);
}

#server {
	display: block;
	margin: 0% auto 2%;
}

#start {
	display: inline-block;
	margin: 0% auto 2%;
}

#stop {
	display: inline-block;
	margin: 0% auto 2%;
}

video {
	position: absolute;
	visibility: hidden;
}

canvas {
	border: 2px solid var(--tyrian-purple);
	background-color: var(--midnight-green-eagle-green);
	width: 640px;
	height: 480px;
}

button {
	border: none;
	display: inline-block;
	padding: 0.5em 1em;
	margin: 1% auto 0;
	cursor: pointer;
	color: #fff;
	background-color: var(--spanish-orange);
}

button:hover {
	background-color: var(--dark-orange);
}

button:active {
	background-color: var(--ruby-red);
}