:root {
	/* CSS HEX */
	--yellow-green: #85cb33ff;
	--alice-blue: #e3f2fdff;
	--indian-red: #db5461ff;
	--jet: #2A2A28;
	--morning-blue: #8aa29eff;
	--crimson: #CA2B3B;
}

body {
	background: var(--morning-blue);
	color: var(--jet);
}

#server {
	display:block;
	margin:0% auto 2%;
}
#start {
	display:inline-block;
	margin:0% auto 2%;
}
#stop {
	display:inline-block;
	margin:0% auto 2%;
}
video {
	position:absolute;
	visibility:hidden;
}
canvas {
	border:8px solid #fff;
	background-color: var(--morning-blue);
}
button {
	border:none;
	display:block;
	padding:0.5em 1em;
	margin:1% auto 0;
	cursor:pointer;
	color:#fff;
	background-color:#9f361b;
}
button:active { background-color:#e44d26; }
