[Unit]
Description=Hardware controller service
After=apache2.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/env python3 /home/rover/controllers/controller_server.py

[Install]
WantedBy=multi-user.target