[Unit]
Description=Rover Flask Middleware Service
After=hardware_controller.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=rover
ExecStart=/usr/bin/gunicorn -c /home/rover/rover/flask_middleware/api_cleaner_wsgi.py --forwarded-allow-ips="*" "api_cleaner:app"

[Install]
WantedBy=multi-user.target
