[Unit]
Description=Hardware Controller Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=rover
ExecStart=/usr/bin/env python3 /home/rover/rover/controllers/controller_server.py

[Install]
WantedBy=multi-user.target
