[Unit]
Description=Rover BaseStation Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
ExecStart=/home/pi/.local/bin/gunicorn -c /home/pi/rover/base_station/base_station_wsgi.py --forwarded-allow-ips="*" "base_station:app"

[Install]
WantedBy=multi-user.target
