[Unit]
Description=Hardware controller service
After=apache2.service

[Service]
Type=simple
Restart=always
User=rover
ExecStart=/usr/bin/sudo /usr/bin/env python3 /home/rover/rover/controllers/controller_server.py

[Install]
WantedBy=multi-user.target
